java -Djava.library.path=/home/mrjbee/WorkShop/Workspace/github/monroe-team-incubator/dist -jar play-wall.jar
java -Djava.library.path=/home/mrjbee/WorkShop/Workspace/github/monroe-team-incubator/dist -jar play-wall.jar
